{% extends 'base.html.twig' %}

{% block title %}{{ metaTitle }} - Brod'Art{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('css/account.css') }}">{% endblock css %}

{% block body %}
<div class="page-dashbord-user">
    <div class="grid-dashbord-user">
        <div class="left-container">
            {% include "account/layout/menu.html.twig" %}
        </div>
        {% if active == "account" %}
            {% include "account/me/me.html.twig" %}
        {% elseif active == "editPsw" %}
            {% include "account/password/password.html.twig" %}
        {% elseif active == "addresses" %}
            {% include "account/addresses/addresses.html.twig" %}
        {% elseif active == "address_add" or active == "address_edit" %}
            {% include "account/addresses/address_form.html.twig" %}
        {% elseif active == "orders" %}
            {% include "account/orders/orders.html.twig" %}
        {% elseif active == "order_detail" %}
            {% include "account/orders/order_detail.html.twig" %}
        {% endif %}
    </div>
</div>
{% endblock %}
