{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Brod'Art{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock css %}

{% block body %}
    <div class="register-page">
        <div class="div-form change_password">
            <h1>Changer mon mot de passe</h1>
            {% for message in app.flashes('notif') %}
                <div class="notif">{{ message }}</div>
            {% endfor %}
            <form method="post">
                <label for="inputEmail">Adresse email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                <button type="submit"><span class="text">Valider</span></button>
            </form>
            <a href="{{ path('app_login') }}">Je me connecte</a>
        </div>
    </div>
{% endblock %}
