/* ************** * FORMULAIRE D'INSCRIPTION ET DE CONNEXION * ************** */

.register-page {
  min-height: calc(100vh - 60px);
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-page .div-form {
  width: 50%;
  padding: 40px 0 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  border: 1px solid #616161;
  border-radius: 20px;
  -webkit-box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.5);
}

.register-page .div-form .notif {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #1b66bb;
  background-color: #86c4e6;
  border: 2px solid #1b66bb;
  border-radius: 10px;
}

.register-page .div-form form div {
  font-size: 0.9em;
  padding-bottom: 10px;
}

.register-page .div-form.update_password form div {
  padding: 0;
}

.register-page .div-form h1 {
  font-size: 2.5em;
  padding-bottom: 30px;

  background: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.register-page .div-form form {
  width: 70%;
  height: 100%;
  margin-bottom: 20px;
}

.register-page .div-form.update_password form {
  margin: 0;
}

.register-page .div-form form p {
  padding-left: 2px;
  padding-bottom: 3px;
  color: #616161;
}

.register-page .div-form a {
  font-size: 1.05em;
  margin: 2px;
  color: #1b66bb;
  transition: 0.3s ease-in-out;
}

.register-page .div-form a:after {
  display: block;
  content: "";
  margin-top: 2px;
  border-bottom: solid 1px #86c4e6;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.register-page .div-form a:hover:after {
  transform: scaleX(1);
}

.register-page .div-form a:hover {
  color: #86c4e6;
}

.register-page .div-form label {
  font-size: 1.3em;
  padding-left: 2px;
}

.register-page .div-form form ul li {
  color: red;
  padding-left: 2px;
  font-size: 0.9em;
}

.register-page .div-form input {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 17px;
  padding-left: 4px;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;

  border: none;
  border-bottom: 2px solid #f76e1a;
  border-radius: 5px;

  background-color: #ececec;
}

.register-page .div-form button {
  width: 100%;
  margin-top: 10px;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.register-page .div-form.update_password button {
  margin-bottom: 20px;
}

.register-page .div-form button:active,
.register-page .div-form button:hover {
  outline: 0;
}

.register-page .div-form button span {
  background: none;
  padding: 16px 24px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.register-page .div-form button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.register-page .div-form button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 780px) {
  .register-page .div-form {
    width: 70%;
  }
}

@media screen and (max-width: 440px) {
  .register-page .div-form h1 {
    font-size: 2em;
  }

  .register-page .div-form.change_password h1,
  .register-page .div-form.update_password h1 {
    font-size: 1.5em;
  }

  .register-page .div-form form {
    width: 85%;
  }

  .register-page .div-form .notif {
    max-width: 85%;
  }
}

@media screen and (max-width: 330px) {
  .register-page .div-form label {
    font-size: 1.1em;
  }

  .register-page .div-form input {
    font-size: 1em;
  }

  .register-page .div-form.change_password h1,
  .register-page .div-form.update_password h1 {
    font-size: 1em;
  }
}