/* ************** * COMMANDE ADRESSE * ************** */

.container-order {
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-order .grid-container-order {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  max-width: 1200px;
  width: 90%;

  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.container-order .grid-container-order h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 5px;
}

.container-order .grid-container-order .grid-left {
  padding-left: 10px;
}

.container-order .grid-container-order .grid-left form #order div label:first-child {
  font-size: 1.2em;
}

.container-order .grid-container-order .grid-left form #order div #order_addresses {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  margin: 10px;
}

.container-order .grid-container-order .grid-left form #order div #order_addresses label {
  font-weight: bold;
}

.container-order .grid-container-order .grid-left form>p {
  margin: 0 0 10px 10px;
}

.container-order .grid-container-order .grid-left form textarea {
  font-family: "Encode Sans Condensed", sans-serif;
}

.container-order .grid-container-order .grid-left form button#valid {
  margin-top: 20px;
}

.container-order .grid-container-order .grid-left form button {
  width: 80%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 15px;
}

.container-order .grid-container-order .grid-left form button:active,
.container-order .grid-container-order .grid-left form button:hover {
  outline: 0;
}

.container-order .grid-container-order .grid-left form button span {
  background: none;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-order .grid-container-order .grid-left form button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-order .grid-container-order .grid-left form button:active {
  transform: scale(0.9);
}

.container-order .grid-container-order .grid-right .product-order {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.container-order .grid-container-order .grid-right .product-order h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.container-order .grid-container-order .grid-right .product-order .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-order .grid-container-order .grid-right .product-order .product p {
  font-size: 1.1em;
  padding: 15px;
}

.container-order .grid-container-order .grid-right .product-order .product .pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 10px;
  row-gap: 5px;
  grid-auto-flow: column;
}

.container-order .grid-container-order .grid-right .product-order .product .pics img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
}

/* ************** * COMMANDE RECAP * ************** */

.container-order .flex-container-order {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
}

.container-order .flex-container-order>h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 10px;
}

.container-order .grid-container-order.recap {
  width: 100%;
}

.container-order .grid-container-order .grid-left .border {
  text-align: center;
  border: solid 1px #8b8b8b;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 30px 10px 0;
}

.container-order .grid-container-order .grid-right .products-order {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #8b8b8b;
}

.container-order .grid-container-order .grid-right .products-order .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-order .grid-container-order .grid-right .products-order .products p {
  font-size: 1.1em;
  padding: 15px;
}

.container-order .grid-container-order .grid-right .products-order .products img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.container-order .grid-container-order .grid-right .resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #8b8b8b;
}

.container-order .grid-container-order .grid-right .resume p {
  font-size: 1.1em;
}

.container-order .grid-container-order .grid-right .resume a {
  width: 25%;
}

.container-order .grid-container-order .grid-right .resume button {
  width: 100%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), rgb(192, 41, 59));
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.container-order .grid-container-order .grid-right .resume button:active,
.container-order .grid-container-order .grid-right .resume button:hover {
  outline: 0;
}

.container-order .grid-container-order .grid-right .resume button span {
  background: none;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-order .grid-container-order .grid-right .resume button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-order .grid-container-order .grid-right .resume button:active {
  transform: scale(0.9);
}

/* ************** * COMMANDE SUCCESS * ************** */

.container-order-success {
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-order-success .box-container-order-success {
  max-width: 1200px;
  width: 90%;

  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.container-order-success .box-container-order-success h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.container-order-success .box-container-order-success p {
  margin-bottom: 10px;
}

.container-order-success .box-container-order-success p a {
  color: #616161;
}