/* ************** * PAGE LISTE ARTICLES * ************** */

.container-articles {
  height: 100%;
  padding: 30px;
}

.container-articles .grid-container-articles {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
}

.container-articles .grid-container-articles .filter-container {
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
}

.container-articles .grid-container-articles .filter-container form .row-filter {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
  margin-bottom: 10px;
}

.container-articles .grid-container-articles .filter-container form .row-filter input[type="text"] {
  height: 35px;
  width: 100%;
  padding-left: 5px;
  border: none;
  border-bottom: 2px solid #f76e1a;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #8b8b8b;

  font-size: 1em;
  font-family: "Encode Sans Condensed", sans-serif;
}

.container-articles .grid-container-articles .filter-container form>label {
  font-size: 1.2em;
  font-weight: bold;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter div {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter div input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-left: 15px;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter div label {
  padding: 5px;
  color: #616161;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter div input:checked {
  background-color: red;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter div input:checked+label {
  color: #000;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter button {
  width: 100%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter button:active,
.container-articles .grid-container-articles .filter-container form .collumn-filter button:hover {
  outline: 0;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter button span {
  background: none;
  padding: 10px 24px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-articles .grid-container-articles .filter-container form .collumn-filter button:active {
  transform: scale(0.9);
}

.container-articles .grid-container-articles .articles-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-content: start;
}

.container-articles .grid-container-articles .articles-container .card {
  width: 300px;
  height: 300px;
  margin: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container-articles .grid-container-articles .articles-container .card-header,
.container-articles .grid-container-articles .articles-container .card-footer {
  width: 95%;
  position: absolute;
  margin-bottom: 5px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.4s;
}

.container-articles .grid-container-articles .articles-container .card-header {
  top: -30px;
  justify-content: center;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089),
    0 20px 20px rgba(0, 0, 0, 0.089);
}

.container-articles .grid-container-articles .articles-container .card-header p {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
}

.container-articles .grid-container-articles .articles-container .card-body {
  width: 300px;
}

.container-articles .grid-container-articles .articles-container .card-body img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
}

.container-articles .grid-container-articles .articles-container .card-footer {
  padding: 12px 0;
  justify-content: center;
  bottom: -20px;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089),
    0 20px 20px rgba(0, 0, 0, 0.089);
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s;
}

.container-articles .grid-container-articles .articles-container .card:hover .card-footer,
.container-articles .grid-container-articles .articles-container .card:hover .card-header {
  transform: translateY(0px);
  opacity: 1;
}

.container-articles .grid-container-articles .articles-container .card-footer p#price {
  color: #616161;
  text-decoration: line-through;
}

.container-articles .grid-container-articles .articles-container .card-footer p#promo {
  padding-left: 5px;
  color: #ee2424;
  font-weight: bold;
}

@media screen and (max-width: 780px) {
  .container-articles .grid-container-articles {
    grid-template-columns: 1fr 2fr;
  }

  .container-articles .grid-container-articles .articles-container {
    justify-content: center;
  }

  .container-articles .grid-container-articles .articles-container .card {
    margin: 50px 0;
  }

  .container-articles .grid-container-articles .articles-container .card-header {
    top: -35px;
    transform: translateY(0);
    opacity: 1;
  }

  .container-articles .grid-container-articles .articles-container .card-footer {
    opacity: 1;
  }

  .container-articles .grid-container-articles .articles-container .card:hover .card-footer {
    transform: translateY(20px);
    opacity: 1;
  }

  .container-articles .grid-container-articles .articles-container .card-header p {
    font-size: 1em;
  }
}

@media screen and (max-width: 440px) {
  .container-articles .grid-container-articles .filter-container .btn-burger-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 60px;
    width: 30px;
    margin: 0 0 0 15px;
    cursor: pointer;
    pointer-events: auto;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 0.6s ease-in-out;
  }

  .container-articles .grid-container-articles .filter-container .icon-bar-filter {
    display: block;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 3px;
    transition: 0.3s;
  }

  .container-articles .grid-container-articles .filter-container .icon-bar-filter+.icon-bar-filter {
    margin-top: 5px;
  }

  .container-articles .grid-container-articles .filter-container .icon-bar-filter.cross-filter:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }

  .container-articles .grid-container-articles .filter-container .icon-bar-filter.cross-filter:nth-of-type(2) {
    opacity: 0;
  }

  .container-articles .grid-container-articles .filter-container .icon-bar-filter.cross-filter:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
  }

  .container-articles .grid-container-articles .filter-container form .collumn-filter {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  .container-articles .grid-container-articles .filter-container form .collumn-filter.show-filter {
    height: auto;
    overflow: visible;
    opacity: 1;
  }

  .container-articles .grid-container-articles {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 330px) {
  .container-articles {
    padding: 5px;
  }

  .container-articles .grid-container-articles .articles-container .card {
    width: 280px;
    height: 280px;
  }

  .container-articles .grid-container-articles .articles-container .card-body {
    width: 280px;
  }
}

/* ************** * PAGE ARTICLE UNIQUE * ************** */

.container-article {
  height: 100%;
  padding: 30px;
}

.container-article .grid-container-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.container-article .grid-container-article .photo-container {
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.container-article .grid-container-article .photo-container .row {
  width: 450px;
}

.container-article .grid-container-article .photo-container .row .photo-slider {
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  cursor: zoom-in;
}

.container-article .grid-container-article .photo-container .row .photo-slider .photo-slider-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

.container-article .grid-container-article .photo-container .row .photo-slider .photo-slider-img.NOW {
  left: 0;
}

.container-article .grid-container-article .photo-container .row .photo-pagination {
  margin-top: 10px;
  overflow-x: scroll;
  display: flex;
}

.container-article .grid-container-article .photo-container .row .photo-pagination::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-radius: 10px;
}

.container-article .grid-container-article .photo-container .row .photo-pagination::-webkit-scrollbar {
  height: 5px;
  background-color: #ffffff;
}

.container-article .grid-container-article .photo-container .row .photo-pagination::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(247, 110, 26), #c0293b);
}

.container-article .grid-container-article .photo-container .row .photo-pagination .photo-page {
  background-image: linear-gradient(180deg, #8b8b8b, #8b8b8b);
  border-radius: 10px;
  padding: 3px;
  margin: 0 5px 5px 5px;

  transform: all 0.4s;
}

.container-article .grid-container-article .photo-container .row .photo-pagination .photo-page.active {
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
}

.container-article .grid-container-article .photo-container .row .photo-pagination .photo-page img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
}

.container-article .grid-container-article .article-info-container {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #ffffff;
  padding: 40px 40px 40px 0;
}

.container-article .grid-container-article .article-info-container h1 {
  padding: 0 10px;
}

.container-article .grid-container-article .article-info-container h4 {
  font-weight: normal;
  padding: 0 10px;
}

.container-article .grid-container-article .article-info-container div.hr {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #f1f1f1;
}

.container-article .grid-container-article .article-info-container p {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0 10px;
}

.container-article .grid-container-article .article-info-container p#tva {
  color: #616161;
  font-size: 1em;
  font-weight: normal;
  padding-top: 5px;
}

.container-article .grid-container-article .article-info-container .promo {
  display: flex;
  align-items: center;
}

.container-article .grid-container-article .article-info-container .promo p#price {
  color: #616161;
  text-decoration: line-through;
  font-size: 1em;
  font-weight: normal;
}

.container-article .grid-container-article .article-info-container .promo p#promo {
  color: #ee2424;
}

.container-article .grid-container-article .article-info-container .desc p {
  font-size: 1em;
  font-weight: normal;
  padding: 0 10px;
}

.container-article .grid-container-article .article-info-container .sizes {
  padding: 10px 0;
}

.container-article .grid-container-article .article-info-container .sizes>label {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  border: solid 2px #8b8b8b;
  transition: all 0.3s;
}

.container-article .grid-container-article .article-info-container .sizes input[type="radio"] {
  display: none;
}

.container-article .grid-container-article .article-info-container .sizes input[type="radio"]:checked+label {
  border: solid 2px #f76e1a;
}

.container-article .grid-container-article .article-info-container .sizes input[type="radio"]:disabled+label {
  background-color: #e4e4e4;
  color: #8b8b8b;
}

.container-article .grid-container-article .article-info-container form .btn-add {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.container-article .grid-container-article .article-info-container form .btn-add:active,
.container-article .grid-container-article .article-info-container form .btn-add:hover {
  outline: 0;
}

.container-article .grid-container-article .article-info-container form .btn-add span {
  background: none;
  padding: 16px 24px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-article .grid-container-article .article-info-container form .btn-add:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-article .grid-container-article .article-info-container form .btn-add:active {
  transform: scale(0.9);
}

.container-article .grid-container-article .article-info-container form .form-add-pic {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000e3;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding: 0 15px;
}

.container-article .grid-container-article .article-info-container form .form-add-pic.active {
  visibility: visible;
  opacity: 1;
}

.container-article .grid-container-article .article-info-container form .form-add-pic i {
  color: #f1f1f1;
  font-size: 3em;
  cursor: pointer;

  position: absolute;
  top: 30px;
  left: 30px;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 20px;
  background: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border-radius: 30px;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input h3 {
  color: #f1f1f1;
  padding-bottom: 10px;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input input {
  display: none;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input label {
  display: flex;
  align-items: center;
  height: 40px;
  align-self: center;
  margin: 10px 0;
  padding: 12px;
  background: #f1f1f1;
  color: #2f2f2f;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: none;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 3px 16px 41px -8px rgba(255, 255, 255, 0.47);
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input p {
  color: #f1f1f1;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
}

.container-article .grid-container-article .article-info-container form .form-add-pic .form-input button {
  display: none;
  height: 40px;
  width: 160px;
  align-self: center;
  margin-top: 10px;
  background: #f1f1f1;
  color: #2f2f2f;
  font-size: 15px;
  font-family: "Encode Sans Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 50px;
  border: none;
}

.container-article .photo-container-zoom {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000e3;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.container-article .photo-container-zoom.active {
  visibility: visible;
  opacity: 1;
}

.container-article .photo-container-zoom i {
  color: #f1f1f1;
  font-size: 3em;
  cursor: zoom-out;

  position: absolute;
  top: 30px;
  left: 30px;
}

.container-article .photo-container-zoom .row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.container-article .photo-container-zoom .row .photo-slider {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.container-article .photo-container-zoom .row .photo-slider .photo-slider-img-zoom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}

.container-article .photo-container-zoom .row .photo-slider .photo-slider-img-zoom.NOW {
  left: 0;
}

.container-article .photo-container-zoom .row .photo-pagination {
  overflow-x: scroll;
  display: flex;
}

/* 

.container-article .photo-container-zoom .row .photo-pagination::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ffffff;
	border-radius: 10px;
}

.container-article .photo-container-zoom .row .photo-pagination::-webkit-scrollbar {
	height: 5px;
	background-color: #ffffff;
}

.container-article .photo-container-zoom .row .photo-pagination::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: linear-gradient(90deg, rgb(247, 110, 26), #c0293b);
} 

*/

.container-article .photo-container-zoom .row .photo-pagination .photo-page-zoom {
  background-image: linear-gradient(180deg, #8b8b8b, #8b8b8b);
  border-radius: 10px;
  padding: 3px;
  margin: 0 5px;

  transform: all 0.4s;
}

.container-article .photo-container-zoom .row .photo-pagination .photo-page-zoom.active {
  background-image: linear-gradient(180deg, #f76e1a, #c0293b);
}

.container-article .photo-container-zoom .row .photo-pagination .photo-page-zoom img {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .container-article .grid-container-article .photo-container {
    padding: 40px 10px;
  }

  .container-article .grid-container-article .photo-container .row {
    width: 400px;
  }

  .container-article .grid-container-article .photo-container .row .photo-slider {
    width: 400px;
    height: 400px;
  }

  .container-article .grid-container-article .photo-container .row .photo-pagination .photo-page img {
    width: 50px;
    height: 50px;
  }

  .container-article .grid-container-article .article-info-container {
    padding: 40px 10px 40px 0;
  }

  .container-article .grid-container-article .article-info-container h1 {
    font-size: 1.8em;
  }

  .container-article .grid-container-article .article-info-container .sizes>label {
    padding: 4px 15px;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .container-article .photo-container-zoom .row .photo-slider {
    width: 550px;
    height: 550px;
  }

  .container-article .photo-container-zoom .row .photo-pagination .photo-page-zoom img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 440px) {
  .container-article {
    height: 100%;
    padding: 0;
  }

  .container-article .grid-container-article {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
  }

  .container-article .grid-container-article .photo-container {
    border-radius: 0;
    padding: 0;
  }

  .container-article .grid-container-article .photo-container .row {
    width: 100%;
  }

  .container-article .grid-container-article .photo-container .row .photo-slider {
    width: 100vw;
    height: 100vw;
    border-radius: 0;
    cursor: default;
  }

  .container-article .grid-container-article .article-info-container {
    padding: 40px 10px 40px 10px;
  }

  .container-article .grid-container-article .article-info-container button {
    width: 400px;
  }

  .container-article .photo-container-zoom.active {
    visibility: hidden;
    opacity: 0;
  }

  .container-article .grid-container-article .article-info-container form .form-add-pic .form-input {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .container-article .grid-container-article .article-info-container button {
    width: 290px;
  }
}

/* ************** * PANIER * ************** */

.container-cart {
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-cart .grid-container-cart {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;

  max-width: 1200px;
}

.container-cart .grid-container-cart h1#cart_empty {
  padding-left: 15px;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart>div {
  display: flex;
  align-items: flex-end;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart div h1 {
  font-size: 1.5em;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart div .circle-color {
  background-color: #ee2424;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart div .circle-color p#number-article-cart {
  font-size: 1em;
  color: #ffffff;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart a#trash {
  font-size: 1.2em;
  cursor: pointer;
  justify-self: flex-end;
}

.container-cart .grid-container-cart .grid-container-cart-article .title-cart,
.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article {
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .photo-article img {
  width: 275px;
  height: 275px;
  border-radius: 10px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart h1 {
  padding: 0 10px;
  font-size: 1.5em;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart h4 {
  font-weight: normal;
  font-size: 1em;
  padding: 0 10px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart div.hr {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #f1f1f1;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart p#price {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 10px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart p#tva {
  color: #616161;
  font-size: 0.75em;
  font-weight: normal;
  padding: 0 10px;
  padding-top: 5px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .promo {
  display: flex;
  align-items: center;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .promo p#old-price {
  color: #616161;
  text-decoration: line-through;
  font-size: 1em;
  font-weight: normal;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .promo p#promo {
  color: #ee2424;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 10px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .select-option {
  display: flex;
  justify-content: space-between;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .select-option p#pic-brod {
  padding: 0 10px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 10px;
  margin-top: 5px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn a#trash {
  font-size: 1.2em;
  margin: 5px 5px 20px 0;
  cursor: pointer;
  align-self: flex-end;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn p#quantity {
  display: flex;
  margin-bottom: 30px;
}

.container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn p#quantity a {
  background-color: #f5f5f5;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary {
  background: #ffffff;
  border-radius: 10px;
  padding: 15px 35px;
  margin-bottom: 15px;

  position: -webkit-sticky;
  position: sticky;
  top: 75px;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary h1 {
  font-size: 1.7em;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary .summary {
  padding: 30px 0;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary .summary .row {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary button {
  width: 100%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary button:active,
.container-cart .grid-container-cart .collumn-container-summary .container-summary button:hover {
  outline: 0;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary button span {
  background: none;
  padding: 10px 24px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-cart .grid-container-cart .collumn-container-summary .container-summary button:active {
  transform: scale(0.9);
}

.mobile-container-summary {
  display: none;
}

@media screen and (max-width: 780px) {
  .container-cart {
    padding: 30px 15px;
  }

  .container-cart .grid-container-cart {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .container-cart .grid-container-cart .collumn-container-summary .container-summary .total p {
    font-size: 1.2em;
  }

  .container-cart .grid-container-cart .collumn-container-summary .container-summary button {
    width: 35%;
    margin-left: 65%;
  }
}

@media screen and (max-width: 440px) {
  .container-cart {
    padding: 30px 15px 0 15px;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .photo-article img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart h1 {
    padding: 0;
    font-size: 1.1em;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart h4 {
    padding: 0;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart div.hr {
    display: none;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart p#price {
    font-size: 1.1em;
    padding: 0;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart p#tva {
    padding: 0;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .promo p#promo {
    font-size: 1.1em;
    padding: 0 10px 0 0;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .select-option p#pic-brod {
    padding: 0;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart .select-option p {
    font-size: 0.9em;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .info-article-cart img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn a#trash {
    margin: 0;
    align-self: center;
  }

  .container-cart .grid-container-cart .grid-container-cart-article .container-cart-article .btn p#quantity {
    margin-bottom: 0;
  }

  .container-cart .grid-container-cart .collumn-container-summary {
    display: none;
  }

  .mobile-container-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    background: #ffffff;
    position: sticky;
    bottom: 0;
    top: calc(100vh - 120px);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.281);
    padding: 0 15px;
  }

  .mobile-container-summary p {
    font-size: 1.1em;
  }

  .mobile-container-summary button {
    align-items: center;
    background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
    border: 0;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }

  .mobile-container-summary button:active,
  .mobile-container-summary button:hover {
    outline: 0;
  }

  .mobile-container-summary button span {
    background: none;
    padding: 2px 15px;
    border-radius: 28px;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    font-family: "Encode Sans Condensed", sans-serif;
    transition: 300ms;
  }

  .mobile-container-summary button:hover span {
    background-color: rgb(255, 255, 255);
    color: #8b8b8b;
  }

  .mobile-container-summary button:active {
    transform: scale(0.9);
  }
}

/* ************** * COMMANDE ADRESSE * ************** */

.container-order {
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-order .grid-container-order {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;

  max-width: 1200px;
  width: 90%;

  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.container-order .grid-container-order h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 5px;
}

.container-order .grid-container-order .grid-left {
  padding-left: 10px;
}

.container-order .grid-container-order .grid-left form #order div label:first-child {
  font-size: 1.2em;
}

.container-order .grid-container-order .grid-left form #order div #order_addresses {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  margin: 10px;
}

.container-order .grid-container-order .grid-left form #order div #order_addresses label {
  font-weight: bold;
}

.container-order .grid-container-order .grid-left form>p {
  margin: 0 0 10px 10px;
}

.container-order .grid-container-order .grid-left form textarea {
  font-family: "Encode Sans Condensed", sans-serif;
}

.container-order .grid-container-order .grid-left form button#valid {
  margin-top: 20px;
}

.container-order .grid-container-order .grid-left form button {
  width: 80%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), #c0293b);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 15px;
}

.container-order .grid-container-order .grid-left form button:active,
.container-order .grid-container-order .grid-left form button:hover {
  outline: 0;
}

.container-order .grid-container-order .grid-left form button span {
  background: none;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-order .grid-container-order .grid-left form button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-order .grid-container-order .grid-left form button:active {
  transform: scale(0.9);
}

.container-order .grid-container-order .grid-right .product-order {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.container-order .grid-container-order .grid-right .product-order h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.container-order .grid-container-order .grid-right .product-order .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-order .grid-container-order .grid-right .product-order .product p {
  font-size: 1.1em;
  padding: 15px;
}

.container-order .grid-container-order .grid-right .product-order .product .pics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 10px;
  row-gap: 5px;
  grid-auto-flow: column;
}

.container-order .grid-container-order .grid-right .product-order .product .pics img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
}

/* ************** * COMMANDE RECAP * ************** */

.container-order .flex-container-order {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
}

.container-order .flex-container-order>h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 10px;
}

.container-order .grid-container-order.recap {
  width: 100%;
}

.container-order .grid-container-order .grid-left .border {
  text-align: center;
  border: solid 1px #8b8b8b;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 30px 10px 0;
}

.container-order .grid-container-order .grid-right .products-order {
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #8b8b8b;
}

.container-order .grid-container-order .grid-right .products-order .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-order .grid-container-order .grid-right .products-order .products p {
  font-size: 1.1em;
  padding: 15px;
}

.container-order .grid-container-order .grid-right .products-order .products img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.container-order .grid-container-order .grid-right .resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 1px #8b8b8b;
}

.container-order .grid-container-order .grid-right .resume p {
  font-size: 1.1em;
}

.container-order .grid-container-order .grid-right .resume a {
  width: 25%;
}

.container-order .grid-container-order .grid-right .resume button {
  width: 100%;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(247, 110, 26), rgb(192, 41, 59));
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  font-size: 1.1em;
  justify-content: center;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.container-order .grid-container-order .grid-right .resume button:active,
.container-order .grid-container-order .grid-right .resume button:hover {
  outline: 0;
}

.container-order .grid-container-order .grid-right .resume button span {
  background: none;
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: "Encode Sans Condensed", sans-serif;
  transition: 300ms;
}

.container-order .grid-container-order .grid-right .resume button:hover span {
  background-color: rgb(255, 255, 255);
  color: #8b8b8b;
}

.container-order .grid-container-order .grid-right .resume button:active {
  transform: scale(0.9);
}

/* ************** * COMMANDE SUCCESS * ************** */

.container-order-success {
  height: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.container-order-success .box-container-order-success {
  max-width: 1200px;
  width: 90%;

  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}

.container-order-success .box-container-order-success h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.container-order-success .box-container-order-success p {
  margin-bottom: 10px;
}

.container-order-success .box-container-order-success p a {
  color: #616161;
}