<div class="right-container">
  <div class="grid-template info-user">
    <div class="grid-1">
      <h1>Mes informations personnelles</h1>
    </div>
    <div class="grid-2">
      <p>Prénom :</p>
      <p>Nom :</p>
      <p>Email :</p>
      <p>Mot de passe :</p>
    </div>
    <div class="grid-3">
      <label>Prénom :</label>
      <input type="text" placeholder="{{ app.user.firstname }}" disabled>
      <label>Nom :</label>
      <input type="text" placeholder="{{ app.user.lastname }}" disabled>
      <label>Email :</label>
      <input type="text" placeholder="{{ app.user.email }}" disabled>
      <label>Mot de passe :</label>
      <div><input type="text" placeholder="•••••••••" disabled><a href="{{ path('account_password') }}"><i
            class="fas fa-cog"></i></a></div>
    </div>
  </div>
</div>