:root {
    --bg-main: #ffffff;
    --bg-panel: #f8fafc;
    --bg-card: #ffffff;
    --bg-hover: #f1f5f9;

    --text-main: #0f172a;
    --text-muted: #64748b;

    --accent: #2563eb;
    --danger: #dc2626;
    --success: #16a34a;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* LAYOUT GLOBAL */
.admin-layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.admin-sidebar {
    width: 240px;
    background: var(--bg-panel);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
}

.sidebar-logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
}

.sidebar-logo img {
    display: block;
    width: 135px;
    height: 90px;
    object-fit: cover;
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.sidebar-menu a {
    display: block;
    color: var(--text-muted);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background: var(--bg-hover);
    color: var(--accent);
}

/* MAIN PART */
.admin-main {
    margin-left: 240px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* NAVBAR */
.admin-navbar {
    height: 60px;
    background: var(--bg-panel);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info {
    font-size: 14px;
    color: var(--text-muted);
    text-align: end;
}

.btn-logout,
.btn-website {
    text-decoration: none;
    padding: 6px 12px;
    background: transparent;
    border: 1px solid #334155;
    color: var(--text-main);
    border-radius: 4px;
    font-size: 14px;
}

.btn-logout:hover {
    background: rgba(248, 113, 113, 0.15);
    border-color: var(--danger);
    color: var(--danger);
}

.btn-website:hover {
    background: rgba(56, 189, 248, 0.15);
    border-color: var(--accent);
    color: var(--accent);
}

/* CONTENT */
.admin-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: var(--bg-main);
    color: var(--text-main);
}