/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* LAYOUT GLOBAL */
.admin-layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.admin-sidebar {
    width: 240px;
    background: #1e1e2f;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar-logo {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    display: flex;
    justify-content: center;
}

.sidebar-logo img {
    height: 150px;
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.sidebar-menu a {
    display: block;
    color: #cfcfe4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
    background: #343454;
    color: #fff;
}

/* MAIN PART */
.admin-main {
    margin-left: 240px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* NAVBAR */
.admin-navbar {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-info {
    font-size: 14px;
    color: #555;
    text-align: end;
}

.btn-logout,
.btn-website {
    text-decoration: none;
    padding: 6px 12px;
    background: #e63946;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

.btn-website {
    background: linear-gradient(180deg, rgb(247, 110, 26), rgb(192, 41, 59));
}

/* CONTENT */
.admin-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f5f6fa;
}